[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdftext = "*"
gdacs-api = "*"
pandas = "*"
numpy = "*"
geopandas = "*"
requests = "*"
azure-identity = "*"
azure-mgmt-compute = "*"
marimo = {extras = ["recommended"], version = "*"}
sqlmodel = "*"

[dev-packages]

[requires]
python_version = "3.13"
